---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import backgroundImage from '../assets/description-background.webp'
import ReadMore from '../components/DescriptionParfs.jsx'
import AboutBlob from '../components/AboutBlob.astro'
---

<style>
	.in-need-of-bg {
		border-color: linear-gradient(
			90deg,
			rgba(245, 237, 223, 1) 0%,
			rgba(38, 38, 38, 1) 50%,
			rgba(245, 237, 223, 1) 100%
		);
	}
	.dimensiune {
		min-height: calc(80vh - 134.58px);
	}
	@media (min-width: 1024px) {
		.in-need-of-bg {
			background-image: url('../assets/description-background.webp');
		}
	}
</style>

<Layout title="Despre | Paul Clapa">
	<section
		class="in-need-of-bg relative min-h-[80vh] w-full border-b-2 bg-cover bg-fixed bg-bottom"
	>
		<Header />
		<div class="absolute inset-0 z-[5] bg-neutral-800 bg-opacity-80"></div>
		<div
			class="dimensiune z-10 flex w-full flex-col items-center gap-5 pt-[100px] lg:flex-row lg:justify-center lg:px-8 lg:pt-0"
		>
			<h1 class="z-10 text-center text-5xl font-light xs:text-6xl sm:hidden">
				DESPRE
				<br />
				<span class="whitespace-nowrap text-3xl font-semibold xs:text-4xl">Paul Clapa</span>
			</h1>
			<AboutBlob />
			<ReadMore client:only />
		</div>
	</section>
	<section class="min-h-screen"></section>
</Layout>
