---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import ReadMore from '../components/DescriptionParfs.jsx'
import descriptionBackground from '../assets/description-background.jpg'
import AboutBlob from '../components/AboutBlob.astro'
---

<style>
	.descriere {
		min-height: calc(100vh - 134.58px);
	}
</style>

<Layout title="Despre | Paul Clapa">
	<main>
		<section
			class="descriere flex w-full flex-col items-center gap-5 pt-[10vh] lg:flex-row lg:justify-center lg:px-8 lg:pt-0"
		>
			<Image
				src={descriptionBackground}
				alt="mountain image"
				width="640"
				height="480"
				class="absolute inset-0 -z-10 hidden h-full w-full bg-cover bg-center opacity-20 lg:block"
			/>
			<h1 class="text-center text-5xl font-light xs:text-6xl sm:hidden">
				DESPRE
				<br />
				<span class="whitespace-nowrap text-3xl font-semibold xs:text-4xl">Paul Clapa</span>
			</h1>
			<AboutBlob />
			<ReadMore client:load />
		</section>
	</main>
</Layout>
