---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'

import { readdir } from 'fs/promises'
import path from 'path'

export async function getStaticPaths() {
	const getDirectories = async (source) =>
		(await readdir(source, { withFileTypes: true }))
			.filter((dirent) => dirent.isDirectory())
			.map((dirent) => dirent.name)
	let relativePath = './src/poze-site/portofoliu'
	let absolutePath = path.resolve(relativePath)
	let directories = await getDirectories(absolutePath)
	let paths = directories.map((directory) => ({
		params: { portofoliu: directory },
		props: { name: directory }
	}))
	return paths
}

const { portofoliu } = Astro.params
const { name } = Astro.props

const allImgs = await Astro.glob('../../poze-site/portofoliu/**/*')

const filteredImgs = allImgs.filter((img) => {
	return img.default.src.includes(name)
})

const getDirectories = async (source) =>
	(await readdir(source, { withFileTypes: true }))
		.filter((dirent) => dirent.isDirectory())
		.map((dirent) => dirent.name)
let relativePath = './src/poze-site/portofoliu'
let absolutePath = path.resolve(relativePath)
let directories = await getDirectories(absolutePath)

const links = directories.map((dir) => {
	return {
		url: '/portofoliu/' + dir,
		name: dir
	}
})
---

<Layout title="Paul Clapa | Portofoliu">
	<main class="flex flex-col items-center justify-start">
		<div class="mx-auto flex w-[90%] flex-wrap items-center justify-start gap-8 px-5 py-4">
			<a
				data-blobity-focus
				class="rounded-3xl border border-cream px-6 py-2.5 font-medium lg:border-none lg:py-0.5"
				href="/portofoliu"
			>
				toate
			</a>
			{
				links.map((el) => {
					return (
						<a
							data-blobity-focus
							class="rounded-3xl border border-cream px-6 py-2.5 font-medium lg:border-none lg:py-0.5"
							href={el.url}
						>
							{el.name}
						</a>
					)
				})
			}
		</div>
		<section class="containery py-8">
			{
				filteredImgs.map((img) => {
					return (
						<div class="box">
							<Image
								src={img.default}
								alt="Imagine portofoliu"
								class="max-w-full rounded-xl border-2 border-neutral-800 transition-all duration-1000 hover:scale-105 hover:border-white"
							/>
						</div>
					)
				})
			}
		</section>
	</main>
</Layout>

<style>
	.containery {
		columns: 1;
		column-gap: 40px;
		width: 90%;
		@apply mx-auto;
	}
	.box {
		width: 100%;
		break-inside: avoid;
		margin-bottom: 30px;
	}
	@media (min-width: 864px) {
		.containery {
			columns: 2;
		}
	}
	@media (min-width: 1536px) {
		.containery {
			columns: 3;
		}
	}
</style>
